@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body, html {
  height: 100%;
}

body {
  font-family: 'Press Start 2P', cursive;
  background-image: url('/assets/retro-bg5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;     
}

.container-main {
 
}

#nav {
  
}

.menu {     
  list-style-type: none;
}

.menu-item {
  
}

@media (max-width: 1050px) { 
  
}

@media (max-width: 850px) { 
  
}